*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  } 
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at the original position */
  }
}

@keyframes fadeInDelay {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at the original position */
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out forwards; /* Increased duration and added easing */
}

.fade-in-delay {
  animation: fadeInDelay 2s ease-in-out forwards; /* Increased duration and added easing */
  /* animation-delay: 1s;  */
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.bottom-nav a {
  text-align: center;
  color: white;
  text-decoration: none;
}

.bottom-nav a:hover {
  color: #ddd; /* Change color on hover */
}

@media screen and (max-width: 768px) {
  footer {
    display: none;
  }
}