*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  } 
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 2s ease-in-out forwards; /* Increased duration and added easing */
  }
  
  .fade-in-delay {
    animation: fadeIn 2s ease-in-out forwards; /* Increased duration and added easing */
    animation-delay: 1s; /* Adjust the delay as needed */
  }
  @media screen and (max-width: 768px) {
   footer{
    display: none;
   } 
  }